@font-face {
  font-family: bebasNeue;
  src: url('../bebasNeue-regular.otf');
}

@font-face {
	font-family: avenir;
	src: url('../avenir-book.otf');
}

body
{
	font-family: avenir;

}

html, body {
	height: 100%;
}

.headline {
	font-family: bebasNeue;
}

.display-1 {
    font-size: 55px;
}

.home-head {
	font-weight: 700;
}

.home-subhead {
	font-weight: 100;
}

.my-red {
    color: #cc0000;
}

.header-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.right-header-row {
    padding-top: 5px;
}

.mobile-icon {
    width: 17px; 
    height: auto;
	filter: invert(100%);
}

.email-icon {
    width: 27px;
    height: auto;
	filter: invert(100%);
}

.linkedin-icon {
    width: 28px;
    height: auto;
	filter: invert(100%);
}

.head-icon {
    width: 25px;
    height: 25px;
}

.school-icon {
    width: 30px;
    height: 19px;
}

.work-icon {
    width: 28px;
    height: 23px;
}

.skills-icon {
    width: 25px;
    height: 25px;
	filter: invert(100%);
}

.portfolio-icon {
    width: 30px;
    height: 25px;
}

.link-icon {
    width: 22px; 
    height: 22px;
}

.fb-nav-icon {
	filter: invert(100%);
	width: 27px;
	height: 27px;
}

.insta-nav-icon {
	filter: invert(100%);
	width: 25px;
	height: 25px;
}

.linkedin-nav-icon {
	filter: invert(100%);
	width: 27px;
	height: 27px;
}

.colored-container {
    background-color: #000000;
    // border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px; 
	color: white;
}

.colored-heading {
	background-color: #000000;
    // border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
	color: white;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    margin-left: 40%;
    margin-right: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.gray {
    color: slategray;
}

.fancy-circle {
    display: block;
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
    background: radial-gradient(circle at 7px 7px, #76b900, #000);
}

.circle {
    display: block;
    background: slategray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
}

.bold {
	font-weight: bold;
}

#parallelogram-black {
    width: 15px; 
    height: 10px; 
    background: #ffffff;
    // border: 1px solid #000000;
    margin: auto 3px auto 0px;
    transform: skew(-25deg); 
    -o-transform: skew(-25deg); 
    -moz-transform: skew(-25deg); 
    -webkit-transform: skew(-25deg);
}

.parallelogram {
    width: 15px; 
    height: 10px;
    // border: 1px solid #000000;
    background: #666666;
    margin: auto 3px auto 0px;
    transform: skew(-25deg); 
    -o-transform: skew(-25deg); 
    -moz-transform: skew(-25deg); 
    -webkit-transform: skew(-25deg);
}

#parallelogram {
    width: 15px; 
    height: 10px;
    border: 1px solid #000000;
    background: #666666;
    margin: auto 3px auto 0px;
    transform: skew(-25deg); 
    -o-transform: skew(-25deg); 
    -moz-transform: skew(-25deg); 
    -webkit-transform: skew(-25deg);
}

.carousel-image {
	max-width: 1500px;
	height: auto;
}

.contact-button {
	background-color: #cc0000;
	border-color: #cc0000;
}

.full-bg-gray {
	width: 100%; 
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#home-banner-text {
	width: 50%;
	max-width: 1000px;
	height: auto;
}

#home-banner-text-medium {
	width: 50%;
	height: auto;
}

#home-banner-text-small {
	width: 80%;
	height: auto;
}

.half-height-flex {
	width: 100%;
	height: 50%;
}

.banner-top-flex {
	width: 100%;
	height: 75%;
}

.banner-top-flex-medium {
	width: 100%;
	height: 55%;
}

.banner-top-flex-wide {
	width: 100%;
	height: 60%;
}

.banner-bottom-flex {
	width: 100%;
	height: 25%;
}

.banner-bottom-flex-medium {
	width: 100%;
	height: 45%
}

.banner-bottom-flex-wide {
	width: 100%;
	height: 30%;
}

#it {
	position:absolute;
	z-index:3;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	min-height:30px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
}

#home-banner-wide {
	width: 100%; 
	height: 100%;
	background-image: url('../images/banner-wide.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
}

#home-banner-medium {
	width: 100%; 
	height: 100%;
	background-image: url('../images/banner-medium.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
}

#home-banner {
	width: 100%; 
	height: 100%;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
}

.down-text {
	position: absolute;
	bottom: 150px;
	margin-left: -114;
}

.down-arrow {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 60px;
	margin-left: -30px;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.down-arrow2 {
	width: 60px;
	height: 60px;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.border {
	border-width: 10px !important;
	border-style: solid !important;
	border-color: red !important;	
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Do a horizontal flip when you touch the flip box container */
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-inner img {
	width: 350px;
	height: 350px;
}

#contact {
	background-color: #333333;
	color: white;
}

<!-- ******************* Breakpoints ******************* -->

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .display-1 {
        font-size: 60px;
    }

    p {
        font-size: 18px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .display-1 {
        font-size: 65px;
    }

    .right-header-row {
        padding-top: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .display-1 {
        font-size: 70px;
    }

    .mobile-icon {
        width: 20px; 
        height: auto;
    }

    .email-icon {
        width: 33px;
        height: auto;
    }

    .linkedin-icon {
        width: 32px;
        height: auto;
    }
}